:root {
  --primary-color: #272637;
  --secondary-color: rgba(249, 196, 172, 0.8);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Roboto", sans-serif;
  --hover-color: #975a5e;
}
body {
  font-family: var(--default-font-family);
  background-color: rgba(249, 196, 172, 0.4) !important;
  color: var(--primary-color) !important;
}
h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 64px;
}
p {
  font-size: 16px;
  line-height: 1.7;
}
nav {
  padding: 12px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin: 10px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: var(--primary-color);
  transition: 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--hover-color);
}

.email a {
  text-decoration: none;
  color: var(--primary-color);
}
.email a:hover {
  color: var(--hover-color);
}

.hero {
  background: var(--primary-color) !important;
  color: var(--secondary-color);
  text-align: center;
  padding: 40px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
}
.hero p {
  font-weight: bold;
  font-size: 24px;
}
.contact-button {
  background: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.1);
}
.contact-button:hover {
  color: var(--primary-color);
  padding: 12px;
}
.btn-branding {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid var(--primary-color);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.btn-branding:hover {
  color: var(--secondary-color);
  padding: 12px;
}
.project-description {
  padding: 20px 60px;
}
.content-container {
  padding: 40px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.content {
  margin: 120px 60px;
}
.content h3 {
  font-family: var(--default-font-family);
  font-size: 25px;
  font-weight: bold;
}

.project-card {
  margin-bottom: 40px;
}
.project-card-body {
  background-color: var(--primary-color);
  color: var(--secondary-color) !important;
}
footer .github-link a:hover {
  color: var(--hover-color);
}
footer .social-links a {
  margin: 0 15px;
  font-size: 20px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 10px 14px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
footer .social-links a:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.github-link {
  font-size: 12px;
}
footer .github-link a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.home-img {
  max-height: 600px;
  display: block;
  margin-top: 70px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .content-container h1 {
    font-size: 55px;
  }
  .head-picture {
    padding: 0;
    margin-top: 0 !important;
  }
  .content {
    margin: 0;
  }
}
